.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.content-top, .content-middle, .content-bottom {
    background-color: #f5f6f7;
}
